@font-face {
  font-family: GlorySignaturePersonalUse;
  src: url(../fonts/GlorySignaturePersonalUse.otf);
}
.header {
  background-color: #282828;
}
body {
  font-family: "Open Sans", sans-serif;
}
.hero {
  background-color: #282828;
}
.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.22;
  color: #ffffff;
}
.hero-title-accent {
  font-family: GlorySignaturePersonalUse;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: #ffc700;
}
.hero-title-stroke {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.22;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}
